.header__lang-link_en{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__lang-link_en:hover{
    opacity: .5;
    transition: .5s;
}

@media screen and (max-width: 321px) {
    .header__lang-link_en{
        font-size: 18px;
        line-height: 20px; 
    }
}