.header__lang-links_translate_ru{
    margin-right: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.header__lang-links_translate_ru:hover{
    opacity: .5;
    transition: .5s;
}

.header__lang-links_translate_ru:active{
    text-decoration: underline;
}

@media screen and (max-width: 321px) {
    .header__lang-links_translate_ru{
        font-size: 18px;
        line-height: 20px; 
    }
}
