.lead__title{
    margin: 0 auto 32px;
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #FFF;
}

@media screen and (max-width: 680px) {
    .lead__title{
        margin: 0 auto 32px;
        font-size: 50px;
        line-height: 104%;

    }
}

@media screen and (max-width: 321px) {  
    .lead__title{
        margin: 0 auto 16px;
        max-width: 320px;
        font-size: 40px;
        line-height: 110%;
        
    }
}