.lead__subtitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 64px;
    max-width: 640px;
}

@media screen and (max-width: 340px) {
    .lead__subtitle{
        font-size: 16px;
        line-height: 125%;    
    }
}

@media screen and (max-width: 321px) {
    .lead__subtitle{
        margin: 0 auto 40px;
        
    }
}