.cover{
    margin: 92px 48px 0;
    background-image: url("../../images/cover/cover-trains.jpg");
    object-fit: contain;
    background-size: 100% 100%;
    min-height: 740px;
    background-repeat: no-repeat;   
}

@media screen and (max-width: 1280px) {
    .cover{
        min-height: calc(100vw/1.6);
    }
}

@media screen and (max-width: 1024px) {
    .cover{
        margin: 92px auto 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover{
        margin-top: 90px;
    }
}

@media screen and (max-width: 321px) {
    .cover{
        height: 200px;
        margin-top: 66px;
    }
}