.cover__overlay{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    width: 100%;
    height: calc(100vw/1.6);
    max-height: 740px;
    min-height: 200px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.cover__overlay:hover{
    background: rgba(0, 0, 0, 0.8);
    transition: .2s;
}