.places__website__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
}

.places__website__link:hover{
    opacity: .5;
    transition: .5s;
}